.button{
	border-radius: 5px;
	border: none;
	display: inline-block;
  font-family: 'NT Somic Bold';
	font-size: 14px;
	transition: all linear 0.2s;
	text-align: center;
	&.block{
		display: block;
	}
	&.small{
		font-size: 14px;
		height: 30px;
		line-height: 30px;
		padding: 0px 10px;
    letter-spacing: -0.15px;
	}
	&.medium{
		font-size: 14px;
		height: 50px;
		line-height: 50px;
		padding: 0px 10px;
    letter-spacing: -0.15px;
	}
  &.primary{
    background-color: #F6AE18;
    color: #FFFFFF;
    &:hover{
      background-color: #E6A51C;
    }
  }
}


/* Responsive
============================================================ */
@media (min-width:1200px) {
	
}

@media (max-width:980px) {
	
}

@media (max-width:767px) {
	
}

@media (max-width:650px) {
	
}