header {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.08);
  padding: 8px 0;
  width: 100%;
  .content-logo {
    display: inline-block;
    .logo {
      max-width: 100%;
      width: 224px;
      height: auto;
      padding: 0;
    }
  }
  
  ul.menu {
    background-color: #FFFFFF;
    float: right;
    margin-bottom: 0;
    li{
      list-style: none;
      display: block;
      float: left;
      margin-right: 5px;
      a {
        color: #000000;
        font-family: 'NT Somic Medium';
        padding: 0 10px;
      }
      &:last-child{
        margin-right: 0;
        a{
          padding-right: 0;
        }
      }
    }
  }
  .menumobile{
    display: block;
    float: right;
    position: relative;
    top: 1px;
  }
}

.offcanvas-body{
  ul{
    li{
      a{
        padding: 5px 0;
        font-family: 'NT Somic Medium';
      }
    }
  }
}

/* Responsive
============================================================ */
@media (max-width:1200px) {

}

@media (max-width:990px) {
  
}

@media (max-width:767px) {
  
}

@media (max-width:478px) {
  
}
