header {
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.08);
  padding: 8px 0;
  width: 100%;
  .content-logo {
    display: inline-block;
    .logo {
      max-width: 100%;
      width: 224px;
      height: auto;
      padding: 0;
    }
  }
  
  ul.menu {
    background-color: #FFFFFF;
    li{
      list-style: none;
      display: flex;
      a {
        color: #000000;
        font-family: 'NT Somic Medium';
      }
    }
  }
  .menumobile{
    display: block;
    float: right;
  }
}

/* Responsive
============================================================ */
@media (max-width:1200px) {

}

@media (max-width:990px) {
  
}

@media (max-width:767px) {
  
}

@media (max-width:478px) {
  
}
