main {
  width: 100%;
}
.section-report {
  padding: 30px 0 0;
  .container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  h3 {
    font-family: 'NT Somic Medium';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin: 0 0 5px;
  }
  h2 {
    font-family: 'NT Somic Bold';
    font-size: 72px;
    line-height: 1.1;
    font-weight: bold;
    margin: 0 0 30px;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 32px;
  }

  .conatiner-carousel {
    .carousel {
      overflow: hidden;
      ul {
        display: flex;
        white-space: nowrap;
        gap: 90px;
        animation: carouselAnimation 20s linear infinite;
        li {
          border-radius: 0px;
          max-height: 35px;
          img {
            width: auto;
            border-radius: 0px;
          }
          &:after {
            content: '';
            flex: 0 0 60px;
          }
        }
      }
    }
  }
  @keyframes carouselAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(calc(-100% - 105px));
    }
  }
}
