.section-subscribe {
    padding: 50px 0;
    h3 {
        font-family: 'NT Somic Bold';
        font-size: 16px;
        line-height: 1.1;
        font-weight: 500;
        margin: 0 0 5px;
        color: #716E76;
    }
    h2 {
        font-family: 'NT Somic Bold';
        font-size: 38px;
        line-height: 1.1;
        font-weight: 500;
        margin: 0 0 10px;
    }
    p {
      font-family: 'NT Somic Medium';
      font-size: 22px;
      line-height: 1.4;
      font-weight: 500;
      margin: 0 0 10px;
      color: #716E76;
    }
    .m-t-50 {
      margin-top: 50px;
    }
    img {
      width: 100%;
      height: auto;
      border-radius: 32px;
    }
  }
  /* Responsive
  ============================================================ */
  @media (max-width:1200px) {
       
  }
  
  @media (max-width:991px) {
    
  }
  
  @media (max-width:767px) {
    
  }
  
  @media (max-width:650px) {
      
  }